.auth-page {
  padding: 0 24px;
  @include flex($direction: column, $justifyContent: space-between, $alignItems: center);
  height: 100%;

  &__logo {
    @include flex();
    flex: 1;
  }

  &__grid {
    margin: 120px 0;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    background: $white-color;
  }

  &__agreement {
    height: 80;
    font-size: $font-size-md;
    color: $sub-color;
  }
}