// 主要色调
$primary-color: #FE622C !default;
// 纯色 - 白色
$white-color: #FFFFFF;
$black-color: #000000;
// 标题与常规文字
$title-color: #333333 !default;
// 副标题
$sub-color: #666666 !default;
// 基本色
$disabled-color: #999999 !default;
// 主要背景色
$help-color: #B7B8BA !default;
// 边框颜色
$border-color-shallow: #EBEBEB !default;
$border-color: #E2E2E2 !default;
$border-color-dep: #D8D8D8 !default;

// 字体字号
$font-size-xxl: 36px !default;
$font-size-xl: 32px !default;
$font-size-lg: 28px !default;
$font-size-md: 24px !default;
$font-size-xs: 20px !default;
$font-size-sm: 16px !default;