.weapp-layout {
  height: 100vh;
  &__header {
    &__navbar {
      height: 100%;
      padding: 0 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1f;
      &__icon {
        @include flex($justifyContent: flex-start);
        &--primary {
          font-size: 40px;
          margin-right: 15px;
        }
      }
      &__title {
        @include flex();
        font-size: $font-size-xl;
        align-items: center;
        font-weight: bold;
      }
    }
  }
}