.tab-bar {
  @include flex($justifyContent: space-between);
  position: fixed;
  bottom: 0;
  left: 0;
  height: 48PX;
  width: 100%;
  background: $white-color;
  border-radius: 30px 30px 0 0;
	padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
	padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
  &__item {
    &--active {
      .tab-bar__item__text {
        color: $primary-color;
      }
    }
    flex: 1;
    @include flex($direction: column);
    &__text {
      font-size: $font-size-md;
      color: #7F7F7F;
      padding-top: 6px;
    }
    &__icon {
      height: 44px;
      width: 44px;
    }
  }
}